
  <main>
<div class="intro-text">
  <p>WanderList — a website for creating lists of places you want to visit. Travel with us.</p>
</div>

<h2 class="places-title">Popular places to visit</h2>

<div class="places">
    <div class="place">
      <img src="https://images.unsplash.com/photo-1511739001486-6bfe10ce785f?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Place 1" class="place-image" />
      <p>Paris — The City of Love and Art. Be sure to visit the Eiffel Tower and the Louvre.</p>
    </div>
    <div class="place">
      <img src="https://images.unsplash.com/photo-1503899036084-c55cdd92da26?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Place 2" class="place-image" />
      <p>Tokyo — A blend of tradition and technology. Stroll through the Shibuya and Asakusa districts.</p>
    </div>
    <div class="place">
      <img src="https://images.unsplash.com/photo-1616260760018-f9267aa897ad?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Place 3" class="place-image" />
      <p>Rome — The City of History and Ancient Architecture. Don’t miss the Colosseum and the Vatican.</p>
    </div>
  </div>
  

<section class="travel-tips">
    <h2>Travel Tips</h2>
    <ul>
      <li><strong>Plan Ahead.</strong> Research destinations, book accommodation, and check visa requirements.</li>
      <li><strong>Travel Light.</strong> The less luggage you have, the easier it is to move around and less stress.</li>
      <li><strong>Store Documents in the Cloud.</strong> Make copies of your passport and tickets in Google Drive or iCloud.</li>
      <li><strong>Learn Basic Phrases in the Local Language.</strong> It will help you communicate and show respect for the local culture.</li>
      <li><strong>Don’t Forget Travel Insurance.</strong> It might save your trip in case of emergency.</li>
      <li><strong>Use Offline Maps.</strong> Download maps on Google Maps or Maps.me before you leave.</li>
      <li><strong>Leave Room for Spontaneity.</strong> Sometimes the best moments are the ones that weren’t planned </li>
    </ul>
  </section>  
    <router-outlet />
  </main>